body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.video {
    width: 640px;
    border-radius: 10px;
    border: 5px solid #2c3e50;
}

.btn {
    padding: 15px 25px;
    background: #2c3e50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

table {
    margin: auto;
    width: 70%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    background: #2c3e50;
    color: white;
}

.back {
    display: inline-block;
    margin-top: 20px;
}
